# DATA DISTRIBUTION

In [1]:
# df ----> x(input) + y(target)
# x(input) ----> x_train + x_test
# y(target)----> y_train + y_test

# ML_Model(x_train , y_train)
# Prediction(x_test) ----> y_pred
# Accuracy(y_test , y_pred)

In [2]:
# df = cgpa , resume_score , placed
# x = cgpa , resume_score(100)
# y = placed(100)
# x = x_train(80) , x_test(20)
# y = y_train(80) , y_test(20)

In [3]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\Saurabh\\OneDrive\\Desktop\\Databases\\num-panda dataset\\PLACEMENT.csv")

In [5]:
df.head()

   cgpa  resume_score  placed
0  8.14          6.52       1
1  6.17          5.17       0
2  8.27          8.86       1
3  6.88          7.27       1
4  7.52          7.30       1

In [6]:
df.shape

(100, 3)

In [7]:
x = df.drop(columns = ['placed'])   ### Input data
y = df['placed']     ### Target data

In [8]:
print("DataFrame shape= " , df.shape)
print("x shape = " , x.shape)
print("y shape = " , y.shape)

DataFrame shape=  (100, 3)
x shape =  (100, 2)
y shape =  (100,)

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

In [11]:
print("DataFrame shape= " , df.shape)
print("x shape = " , x.shape)
print("x_train shape = " , x.shape)
print("x_test shape = " , x_test.shape)

print("y shape = " , y.shape)
print("y_train shape = " , y.shape)
print("y_test shape = " , y_test.shape)

DataFrame shape=  (100, 3)
x shape =  (100, 2)
x_train shape =  (100, 2)
x_test shape =  (20, 2)
y shape =  (100,)
y_train shape =  (100,)
y_test shape =  (20,)

In [12]:
# df(100,3) = x(100,2) + y(100,1)
# x(100,2) = x_train(80,2) + x_test(20,2)
# y(100,1) = y_train(80,1) + x_test(20,1)

In [13]:
df = pd.read_csv("C:\\Users\\Saurabh\\OneDrive\\Desktop\\Databases\\num-panda dataset\\COVID_toy.csv")

In [14]:
df.head(3)

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [15]:
df['gender'].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [16]:
df['gender'] = df['gender'].map({"Male":0 , "Female":1})

In [17]:
df

    age  gender  fever   cough       city has_covid
0    60       0  103.0    Mild    Kolkata        No
1    27       0  100.0    Mild      Delhi       Yes
2    42       0  101.0    Mild      Delhi        No
3    31       1   98.0    Mild    Kolkata        No
4    65       1  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12       1  104.0    Mild  Bangalore        No
96   51       1  101.0  Strong    Kolkata       Yes
97   20       1  101.0    Mild  Bangalore        No
98    5       1   98.0  Strong     Mumbai        No
99   10       1   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [18]:
df['cough'].value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [19]:
df['cough'] = df['cough'].map({"Mild":0 , "Strong":1})

In [20]:
df

    age  gender  fever  cough       city has_covid
0    60       0  103.0      0    Kolkata        No
1    27       0  100.0      0      Delhi       Yes
2    42       0  101.0      0      Delhi        No
3    31       1   98.0      0    Kolkata        No
4    65       1  101.0      0     Mumbai        No
..  ...     ...    ...    ...        ...       ...
95   12       1  104.0      0  Bangalore        No
96   51       1  101.0      1    Kolkata       Yes
97   20       1  101.0      0  Bangalore        No
98    5       1   98.0      1     Mumbai        No
99   10       1   98.0      1    Kolkata       Yes

[100 rows x 6 columns]

In [21]:
df['city'] = df['city'].map({"Kolkata":0,"Bangalore":1,"Delhi":2,"Mumbai":3})

In [22]:
df['has_covid'] = df['has_covid'].map({"No":0,"Yes":1})

In [23]:
df.head(3)

   age  gender  fever  cough  city  has_covid
0   60       0  103.0      0     0          0
1   27       0  100.0      0     2          1
2   42       0  101.0      0     2          0

In [24]:
from sklearn.impute import SimpleImputer

In [25]:
si = SimpleImputer(strategy = "mean")

In [26]:
df['fever'] = si.fit_transform(df[['fever']])    ## fit means learn the parameter from data and transform means changing data

In [27]:
df.isnull().sum()

age          0
gender       0
fever        0
cough        0
city         0
has_covid    0
dtype: int64

In [28]:
from sklearn.model_selection import train_test_split

In [30]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2, random_state = 42)

In [31]:
print("DataFrame shape= " , df.shape)
print("x shape = " , x.shape)
print("x_train shape = " , x.shape)
print("x_test shape = " , x_test.shape)

print("y shape = " , y.shape)
print("y_train shape = " , y.shape)
print("y_test shape = " , y_test.shape)

DataFrame shape=  (100, 6)
x shape =  (100, 2)
x_train shape =  (100, 2)
x_test shape =  (20, 2)
y shape =  (100,)
y_train shape =  (100,)
y_test shape =  (20,)